h1 {
  color: black;
  border-bottom: 2px solid;
}

img{
  width: 300px;
  height: 350px;
  position: relative;
  bottom: 100px;
  transform: rotate(355deg);
  float: right;
}

p{
  width: 800px;
  font-size: 25px;
  text-align: left;
  font-family: calibri;
}

@email{
  color: grey;
}
