h1 {
  color: black;
  border-bottom: 2px solid;
}

img{
  width: 300px;
  height: 350px;
  position: relative;
  bottom: 100px;
  transform: rotate(355deg);
  float: right;
}

p{
  width: 800px;
  font-size: 25px;
  text-align: left;
  font-family: calibri;
}

.separator{
  margin-top: 200px;
}

.titles{
  margin-left: 150px;
  width: 150px;
  height: 400px;
  border-right: 2px solid;
}

#inline_flex{
  display: inline-flex;
}

#sub_skills{
  margin-left: 200px;
  margin-top: 0px;
}

#head_skills{
  margin-left: 200px;
  margin-top: 0px;
  font-size: 40px;
}

#sub_education{
  float:right;
  height=2px;
}

#lists{
  width: 100px;
  margin-top: 0px;
  font-size: 30px;
}

#experience{
  margin-left: 300px;
  margin-top: 0px;
  font-size: 30px;
}
